#Ignoring swp files
*.swp
#Ignoring the picture directories to save the upload time
pics/messy/*
pics/clean/*
pics-gray/messy/*
pics-gray/clean/*
# Ignoring the ML output due to size
tensorflow/*.pb
tensorflow/*.txt
